<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@prototype, remote: remote, html: {role: :form, 'data-model' => 'training_prototype'}) do |f| %>

  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prototype.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @prototype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :group_id, class: 'control-label' %>
    <%= f.select :group_id, Group.all.collect { |g| [ g.name, g.id ] }, {}, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :day, class: 'control-label' %>
    <%= f.select :day, [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3], ['Thursday', 4], ['Friday', 5], ['Saturday', 6], ['Sunday', 7]], {}, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  
  <div class="form-group">
    <%= f.label :from, class: 'control-label' %>
    <div class="input-group timepicker">
      <%= f.text_field :from, value: (f.object.from.to_formatted_s(:time) if f.object.from), class: 'form-control' %>
      <span class="input-group-addon">
          <i class="fa fa-clock-o fa-fw"></i>
      </span>
    </div>
    <span class="help-block"></span>
  </div>

  <div class="actions">
    <%= f.submit button, class: 'btn btn-success' %>
  </div>

<% end %>
