<div class="col-sm-10 clearfix">
  <div class="row">
    <div class="col-sm-3">
      <h2>Planning <%= @training.date.to_s(:custom)+" "+@training.from.to_s(:time) %></h2>
    </div>
    <div class="col-sm-9">
      <% @training.users.each do |u| %>
        <% render partial: 'user', locals: {user: u, training: @training} %>
      <% end %>
    </div>
  </div>
  
  <p>
    <a id="load-template-btn" href="#load_template_modal" data-toggle="modal" class="btn btn-warning"><i class="fa fa-arrow-down"></i> Load from template</a>
  </p>
  
  <div id="training_grid" data-training-id="<%= @training.id %>">
  
    <% @training.slots.each do |slot| %>
      <%= render partial: 'slot', locals: {slot: slot} %>
    <% end %>
    
    <div id="last-slot" class="clearfix"></div>
    
    <p>
      <button class="btn btn-primary" id="add-slot-btn"><i class="fa fa-plus"></i> Add part</button>
    </p>
    
    <p class="text-right">
      <%= form_tag save_training_content_path(@training), remote: true, method: 'post', authenticity_token: false, class: 'training-data text-right' do %>
        <%= hidden_field_tag 'data_string' %>
        <%= button_tag ("<i class='fa fa-save'></i> Save").html_safe, class: "btn btn-lg btn-success" %>
      <% end %>
    </p>
  
  </div>
  
</div>

<div class="col-sm-2">
  <div class="well clearfix">
    <%= link_to ("<i class='fa fa-chevron-left fa-fw'></i> Back to training").html_safe, training_path(@training), class: 'btn btn-info col-xs-12' %>
  </div>
</div>


<div class="col-xs-12">
  <%= link_to ("<i class='fa fa-chevron-left fa-fw'></i> Back").html_safe, :back, :class => "btn btn-sm btn-warning" %>
</div>

<div id="block-prototypes" style="display: none;">
  <%= render partial: 'slot', locals: {slot: nil} %>
  <table>
    <%= render partial: 'serie', locals: {serie: nil}  %>
  </table>
</div>

<div class="modal fade" id="load_template_modal" tabindex="-1" role="dialog" aria-labelledby="loadTemplateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="loadTemplateModalLabel">Load Training Template</h4>
      </div>
      <div class="modal-body">
        <%= form_tag load_template_path(), remote: true, method: 'post', authenticity_token: false, class: 'load-template-data', 'data-model' => 'template' do %>
          
          <div class="form-group">
            <%= select_tag 'template', nil, class: "form-control" %>
            <span class="help-block"></span>
          </div>
          <%= button_tag ("<i class='fa fa-arrow-down'></i> Load").html_safe, class: "btn btn-success" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
