<div class="col-sm-10 clearfix">
  <h2>Planning <%= @template.name %></h2>
  
  <div id="template_grid" data-template-id="<%= @template.id %>">
  
    <% @template.slots.each do |slot| %>
      <%= render partial: 'slot', locals: {slot: slot} %>
    <% end %>
    
    <div id="last-slot" class="clearfix"></div>
    
    <p>
      <button class="btn btn-primary" id="add-slot-btn"><i class="fa fa-plus"></i> Add excercise group</button>
    </p>
    
    <p class="text-right">
      <%= form_tag save_template_content_path(@template), remote: true, method: 'post', authenticity_token: false, class: 'template-data text-right' do %>
        <%= hidden_field_tag 'data_string' %>
        <%= button_tag ("<i class='fa fa-save'></i> Save").html_safe, class: "btn btn-lg btn-success" %>
      <% end %>
    </p>
  
  </div>
  
</div>

<div class="col-sm-2">
  <div class="well clearfix">
    <%= link_to ("<i class='fa fa-chevron-left fa-fw'></i> Back to template").html_safe, template_path(@template), class: 'btn btn-info col-xs-12' %>
  </div>
</div>


<div class="col-xs-12">
  <%= link_to ("<i class='fa fa-chevron-left fa-fw'></i> Back").html_safe, :back, :class => "btn btn-sm btn-warning" %>
</div>

<div id="block-prototypes" style="display: none;">
  <%= render partial: 'slot', locals: {slot: nil} %>
  <table>
    <%= render partial: 'serie', locals: {serie: nil}  %>
  </table>
</div>
