<div class="col-sm-10 clearfix">
  <h2><%= @template.name %></h2>
  
  <table class="table excercises">
    <% if @template.slots.empty? %>
      <tr>
        <td>There are no excercises yet! <%= link_to "Plan it!", plan_template_content_path(@template) %></td>
      </tr>
    <% else %>
      <tr>
        <th>
          <div class="col-sm-3">
            Excercise
          </div>
          <div class="col-sm-2">
            Series
          </div>
          <div class="col-sm-7">
            Note
          </div>
        </th>
      </tr>
      <% @template.slots.each do |slot| %>
        <%= render partial: 'slot_view', locals: {slot: slot} %>
      <% end %>
    <% end %>
  </table>
  
</div>
<div class="col-sm-2">
  <div class="well clearfix">
    <%= link_to ("<i class='fa fa-bars fa-fw'></i> Plan training template").html_safe, plan_template_content_path(@template), class: 'btn btn-info col-xs-12' %>
    <div class="pull-left">
      &nbsp;
    </div>
    <%= link_to ("<i class='fa fa-pencil fa-fw'></i> Edit template").html_safe, '#edit_template_modal', 'data-toggle' => 'modal', class: 'btn btn-warning col-xs-12' %>
    <%= link_to ("<i class='fa fa-trash fa-fw'></i> Delete template").html_safe, template_path(@template), method: :delete, class: 'btn btn-danger col-xs-12', data: { confirm: "Are you sure?" } %>
  </div>
</div>

<div class="col-xs-12">
  <%= link_to ("<i class='fa fa-chevron-left fa-fw'></i> Back").html_safe, :back, :class => "btn btn-sm btn-warning" %>
</div>

<div class="modal fade" id="edit_template_modal" tabindex="-1" role="dialog" aria-labelledby="editTemplateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editTemplateModalLabel">Edit template</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true, button: 'Update' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
