<div class="col-sm-10">
  <h2>Weekly schedule</h2>
  
  <table id="trainings_table" class="table table-bordered">
    <tr>
      <th class="text-center"><button class="btn btn-sm btn-default"><</button><button class="btn btn-sm btn-default">></button></th>
      <% date = Date.today.beginning_of_week %>
      <% (1..6).each do |d| %>
        <th class="text-center"><%= (week_beginning+d-1).to_s(:day_of_week) %><br /><%= (date+d).to_s(:custom) %></th>
      <% end %>
    </tr>
    <% (7..19).each do |h| %>
      <tr>
        <td class="text-center"><%= h %></td>
        <% (1..6).each do |d| %>
          <td class="<%= h.to_s+d.to_s %> active"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  
  <div id="trainings_wrapper" style="display: none;">
    <% @prototypes.each do |p| %>
      <%= render partial: 'item', locals: {prototype: p} %>
    <% end %>
    
    <script type="text/javascript">
      $('#trainings_wrapper .training').each(function() {
        var position = $(this).data('class');
        $('#trainings_table td.'+position).removeClass('active').addClass('success').append($(this));
      });
    </script>
  </div>
  
</div>

<div class="col-sm-2">
  <div class="well clearfix">
    <%= link_to ("<i class='fa fa-plus fa-fw'></i> New training plan").html_safe, '#new_prototype_modal', 'data-toggle' => 'modal', class: 'btn btn-success col-xs-12' %>
  </div>
</div>

<div class="modal fade" id="new_prototype_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new record</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true, button: 'Create' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
